.new-object {
  margin-bottom: 30px;

  .new-object-form {
    padding: 41px 31px 40px 45px;
    background: $white;
    border-radius: 24px;


    &__item {
      display: flex;
      margin-bottom: 25px;

      &:nth-child(1),
      &:nth-child(2) {
        .new-object-form__wrapper {
          padding-bottom: 45px;
        }
      }
    }

    &__icon {
      min-width: 80px;
      height: 80px;
      margin-right: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #F4F7FB;
    }

    &__wrapper {
      width: 100%;
      padding: 16px 0 30px;
      border-bottom: 1px solid #D2E7EF;
    }

    &__row {
      width: 100%;
      display: flex;
      align-items: center;
    }

    &__row-top {
      padding-top: 15px;
      margin-bottom: 18px;
    }

    &__title {
      margin-right: 74px;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 22px;
      color: $green-blue;
      text-transform: uppercase;
    }

    &__code {
      margin-right: 103px;
      margin-bottom: 10px;
      @include montserrat-bold;
      color: $black;
      font-size: 20px;
      line-height: 24px;
    }

    &__warning {
      max-width: 408px;
      padding: 9px 7px 5px 10px;
      display: flex;
      align-items: center;
      background: #F4F7FB;
      border-radius: 3px;

      svg {
        min-width: 30px;
        margin-right: 9px;
      }

      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $green-blue;
      }
    }

    &__object-type {
      min-width: 185px;
      margin-right: 60px;
      margin-bottom: 10px;
    }

    &__input-wrapper {
      min-width: 235px;
      max-width: 236px;
      margin-bottom: 10px;

      label {
        display: block;
        margin-bottom: 7px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $green-blue;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__input {
      width: 100%;
      height: 35px;
      padding-left: 5px;
      border: 1px solid $green-blue;
      border-radius: 3px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #3D3D3D;

      &:focus-visible {
        outline: none;
      }
    }

    &__textarea {
      height: 115px;
      margin-bottom: 10px;
      padding: 6px 10px;
      border: 1px solid $green-blue;
      border-radius: 3px;
      color: #3D3D3D;

      &::placeholder {
        color: #7D8E8E;
      }

      &:focus-visible {
        outline: none;
      }

      &:first-child {
        width: 535px;
        margin-right: 31px;
      }

      &:last-child {
        width: 435px;
      }
    }

    &__textarea-name {
      height: 75px;
    }

    &__owner {
      margin-bottom: 20px;
      padding: 23px 20px 10px;
      background-color: #F4F7FB;
      border-radius: 10px;
      position: relative;


      .new-object-form__input {
        height: 30px;
        font-size: 14px;
        line-height: 17px;
      }

      h4 {
        margin-bottom: 20px;
        font-size: 16px;
      }

      label {
        display: block;
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: #7D8E8E;
      }
    }

    &__input-row {
      display: flex;
      flex-wrap: wrap;

      > div {
        margin-bottom: 20px;

        &:nth-child(1) {
          margin-right: 15px;
        }

        &:nth-child(2) {
          margin-right: 15px;
          min-width: 220px;
        }

        &:nth-child(3) {
          min-width: 220px;
          margin-right: 20px;
        }

        &:nth-child(4) {
          min-width: 203px;
        }

        &:nth-child(5) {
          min-width: 709px;
          margin-right: 12px;
        }

        &:nth-child(6) {
          width: 220px;
          padding: 0;
          margin-right: 0;
          align-self: flex-end;
        }
      }

    }

    #new-object-scan-doc-dropzone {
      align-self: flex-end;
      padding-bottom: 2px;

      .dz-remove {
        color: transparent;
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 20C4.46154 20 0 15.5385 0 10C0 4.46154 4.46154 0 10 0C15.5385 0 20 4.46154 20 10C20 15.5385 15.5385 20 10 20ZM10 0.769231C4.92308 0.769231 0.769231 4.92308 0.769231 10C0.769231 15.0769 4.92308 19.2308 10 19.2308C15.0769 19.2308 19.2308 15.0769 19.2308 10C19.2308 4.92308 15.0769 0.769231 10 0.769231Z' fill='%2393B5C5'/%3e%3cpath d='M13.8459 14.8462C13.6152 14.8462 13.3844 14.7692 13.1536 14.5385L5.46131 6.84617C5.0767 6.46155 5.0767 5.84623 5.46131 5.46161C5.84593 5.077 6.46135 5.077 6.84597 5.46161L14.5383 13.1539C14.9229 13.5385 14.9229 14.1539 14.5383 14.5385C14.3844 14.7692 14.0767 14.8462 13.8459 14.8462Z' fill='%2393B5C5'/%3e%3cpath d='M6.15364 14.8462C5.92287 14.8462 5.69208 14.7692 5.46131 14.5385C5.0767 14.1539 5.0767 13.5385 5.46131 13.1539L13.1536 5.46161C13.5382 5.077 14.1537 5.077 14.5383 5.46161C14.9229 5.84623 14.9229 6.46155 14.5383 6.84617L6.84597 14.5385C6.69212 14.7692 6.38441 14.8462 6.15364 14.8462Z' fill='%2393B5C5'/%3e%3c/svg%3e ") no-repeat center;
        width: 25px;
        height: 25px;
        z-index: 100;
      }
    }

    &__item-btn-scan-doc-add {
      display: flex;
      align-items: center;
      font-weight: 500;
      line-height: 17px;
      color: $green-blue;

      svg {
        margin-right: 5px;
      }

      &._hidden {
        span {
          display: none;
        }
      }
    }


    &__owner-type {
      min-width: 240px;

      .choices__inner {
        height: 30px;
        padding-top: 1px;
        padding-left: 7px;
        font-weight: 500;
        border-color: $green-blue;
      }

      .choices[data-type*="select-one"]::after {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.2 0.3C11.8 -0.1 11.2 -0.1 10.8 0.3L6.50001 4.59993L2.20002 0.3C1.80002 -0.1 1.2 -0.1 0.8 0.3C0.4 0.7 0.4 1.2999 0.8 1.6999L5.8 6.6999C6 6.8999 6.30001 6.99995 6.50001 6.99995C6.70001 6.99995 7.00002 6.8999 7.20002 6.6999L12.2 1.6999C12.6 1.2999 12.6 0.7 12.2 0.3Z' fill='%233D3D3D'/%3e%3c/svg%3e ");
        top: 4px;
      }
    }

    &__item-developer {
      margin-bottom: 15px;

      .new-object-form__row-top {
        margin-bottom: 32px;
      }

      .new-object-form__warning {
        max-width: 224px;
      }
    }
    &__item-developer-desc {
      margin-right: 35px;
      margin-bottom: 10px;
      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
    }
    &__item-documents {
      margin-bottom: 0;

      .new-object-form__wrapper {
        border-bottom: none;
        padding-bottom: 22px;
      }

      .dropzone {
        display: flex;
        flex-wrap: wrap;
      }

      .dz-message {
        order: 2;
        align-self: center;
        padding-bottom: 14px;
      }

      .dz-preview {
        background-image: url('../img/doc-file.png');
        background-repeat: no-repeat;
        background-size: auto 132px;
        width: 121px;
        height: 172px;
        display: flex;
        margin: 0 30px 10px 0;
        align-items: flex-end;
      }

      .dz-details {
        display: block !important;

        .dz-size {
          display: none;
        }
      }

      .dz-remove {
        color: transparent;
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        background: url("../img/del-photo.png") no-repeat center;
        width: 25px;
        height: 25px;
        z-index: 100;
      }

      .dz-filename {
        max-width: 121px;
        font-weight: 500;
        color: $green-blue;
        white-space: nowrap;
        overflow-x: hidden;
      }
    }

    &__item-btn {
      &:hover {
        svg {
          path {
            fill: $link;
            opacity: 1;
            transition: all .3s;
          }
        }
      }
    }

        &__item-description {
      .new-object-form__wrapper {
        padding-bottom: 23px;
      }

      .new-object-form__row {
        &:last-child {
          .new-object-form__textarea {
            height: 95px;
          }
        }
      }
    }

    &__textarea-wrapper {
      display: flex;
      flex-direction: column;
      margin-right: 31px;
      margin-bottom: 18px;
      width: 485px;

      label {
        margin-bottom: 5px;
        font-weight: 500;
        color: $green-blue;
      }

      .new-object-form__textarea {
        width: 100%;
      }
    }

    &__buttons {
      margin-left: 123px;
      display: flex;

    }

    &__btn {
      height: 40px;
      border-radius: 3px;
      padding: 0 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 17px;
      transition: all 0.3s;
    }

    &__btn-save {
      margin-right: 43px;
      border: 1px solid $green-blue;
      color: $green-blue;

      &:hover {
        color: $white;
        background-color: $green-blue;
      }
    }

    &__btn-publish {
      border: 1px solid $green-light;
      color: $green-light;

      &:hover {
        color: $white;
        background-color: $green-light;
      }
    }

  }
}
