.profile-page {

  .info {
    margin-bottom: 30px;

    .page-title {
      padding: 33px 0 33px 21px;
    }

    &__inner {
      background: $white;
      border-radius: 26px;
      padding: 22px 20px 40px 22px;
      position: relative;
    }

    &__data {
      display: flex;
      align-items: flex-start;
      padding-bottom: 40px;
      position: relative;

      .line {
        bottom: 0;
        right: 0;
        max-width: 1018px;
      }
    }

    &__data-avatar {
      margin-right: 20px;
    }

    &__data-fullname {
      margin-right: 145px;
      max-width: 6700px;
    }

    &__name {
      @include montserrat-semibold;
      font-size: 36px;
      line-height: 44px;
      color: #000000;
      margin-bottom: 15px;
    }

    &__email {
      color: $link;
    }

    &__data-list {
      li {
        padding-left: 35px;
        position: relative;

        a {
          color: $link;
        }

        svg {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }


        &:not(:last-child) {
          margin-bottom: 17px;
        }
      }
    }
  }

  .additional {
    margin-bottom: 30px;

    &__inner {
      background: $white;
      border-radius: 26px;
      padding: 20px 10px 77px 42px;
      position: relative;
    }

    &__passport {
      display: flex;
      padding-top: 15px;
      padding-left: 20px;

      .subtitle {
        margin-bottom: 50px;
      }
    }

    &__passport-data {
      padding-top: 23px;
      margin-right: 48px;
      max-width: 655px;
    }

    &__passport-img {
      min-width: 80px;
      margin-right: 42px;
    }

    .passport-list {

      li {
        display: flex;
        align-items: flex-start;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      &__title {
        min-width: 250px;
        margin-right: 23px;
      }
    }

    &__passport-photo {
      padding-top: 28px;
      min-width: 200px;
      h3 {
        @include montserrat-bold;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 45px;
      }

      #passport-dropzone {
        display: flex;
        max-width: 220px;
        flex-wrap: wrap;


        .dz-message {
          order: 2;
          height: 93px;
        }

        .dz-preview {
          width: 93px;
          height: 93px;
          margin: 0 15px 15px 0;

          img {
            border-radius: 5px;
          }
        }

        .dz-remove {
          color: transparent;
          position: absolute;
          top: -5px;
          right: -5px;
          background: url("../img/del-photo.png") no-repeat;
          width: 18px;
          height: 18px;
          z-index: 100;
        }
      }

    }


    &__top {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }

    &__image {
      width: 80px;
      height: 80px;
      margin-right: 43px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FC611F;
      overflow: hidden;
    }

    &__row {
      display: flex;
    }

    &__text {
      display: flex;
      max-width: 660px;
      margin-left: 123px;

      >.subtitle-sm {
        margin-right: 28px;
      }
    }

    &__socials {
      margin-left: 45px;

      .additional__row {
        .subtitle-sm {
          min-width: 132px;
        }

        &:first-child {
          margin-bottom: 12px;
        }
      }

      a {
        display: inline-block;
        margin-left: 20px;
      }
    }
  }

  .bank {
    &__inner {
      background: $white;
      border-radius: 26px;
      padding: 20px 10px 77px 42px;
      position: relative;
    }

    &__top {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }

    &__image {
      width: 80px;
      height: 80px;
      margin-right: 43px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1DAB7F;
      overflow: hidden;
    }

    &__list {
      position: relative;
      display: flex;
      max-width: 904px;
      margin: auto;
    }

    &__card {
      max-width: 287px;
      margin-top: 5px;
      padding: 21px 30px 18px 16px;
      border-radius: 10px;
      border: 1px solid #D2E7EF;
        &:not(:first-child) {
          margin-left: 21px;
        }
      &.active {
        border: 1px solid #66ACCC;
      }

      .subtitle-sm {
        margin-bottom: 13px;
        font-weight: 700;
      }

      span.subtitle-sm {
        font-weight: 500;
        color: $black;
      }
    }

    &__card-add {
      position: absolute;
      right: -55px;
      top: 50%;
      transform: translateY(-50%);
    }

    &__date {
      margin-top: 10px;
      color: $blue;
    }
  }

}
