@media(max-width: 1200px) {
  .profile-page .info__data-fullname {
    margin-right: 20px;
  }
}

@media(max-width: 1116px) {
  .profile-page .info__passport-photo #passport-dropzone {
    max-width: 100%;
  }

  .profile-page .bank__card {
    margin-top: 0;

    &:not(:last-child) {
      margin-bottom: 20px;
      margin-right: 15px;
    }
  }

  .profile-page .bank__card:not(:first-child) {
    margin-left: 0;
  }
}


@media(max-width: 992px) {

  .profile-page .info__data {
    flex-direction: column;
  }
  .profile-page .info__passport-data {
    width: 100%;
    margin-right: 0;
  }
  .profile-page .info__name {
    font-size: 30px;
  }

  .profile-page .info__data-list {
    margin-top: 20px;
  }

  .profile-page .additional__inner > .additional__row,
  .profile-page .bank__list {
    margin-left: 0;
  }
}

@media(max-width: 768px) {
  .profile-page .info .passport-list li {
    flex-direction: column;
  }
}

@media(max-width: 576px) {

  .profile-page .info__inner,
  .profile-page .additional__inner,
  .profile-page .bank__inner {
    padding-left: 10px;
  }

  .profile-page .info__passport {
    padding-left: 0;
    padding-right: 0;
  }
  .profile-page .passport-list__content {
    width: 100%;
    word-wrap: break-word;
  }
  .profile-page .additional__top,
  .profile-page .bank__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-page .additional .subtitle,
  .profile-page .bank__top .subtitle {
    margin-top: 10px;
  }

  .profile-page .additional__text {
    flex-direction: column;
  }

  .profile-page .additional__text > .subtitle-sm {
    margin-bottom: 10px;
  }
  .profile-page .bank__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
