@media(max-width: 992px) {
  .cabinet-org-services .packages__cards,.cabinet-org-services .additional__tile {
    margin-left: 0;
  }

}

@media(max-width: 768px) {
  .cabinet-org-services .packages .subtitle {
    font-size: 30px;
  }

  .cabinet-org-services .additional .subtitle {
    font-size: 26px;
  }
}

@media(max-width: 576px) {
  .cabinet-org-services__top {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  .cabinet-org-services .subtitle
      {
    margin-top: 10px;
  }
  .cabinet-org-services .section__inner {
    padding-right: 10px;
    padding-left: 10px;
  }
  .cabinet-org-services .packages__cards, .cabinet-org-services .additional__cards {
    flex-direction: column;
    align-items: center;
  }

  .cabinet-org-services .packages__card:not(:last-child),
  .cabinet-org-services .additional__card:not(:last-child) {
    margin-right: 0;
  }
}
