<div class="modal guarantee-payment-modal" id="guarantee-payment">
  <button class="close-modal-btn" type="button" data-close-modal="true">
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13 26C5.8 26 0 20.2 0 13C0 5.8 5.8 0 13 0C20.2 0 26 5.8 26 13C26 20.2 20.2 26 13 26ZM13 1C6.4 1 1 6.4 1 13C1 19.6 6.4 25 13 25C19.6 25 25 19.6 25 13C25 6.4 19.6 1 13 1Z"
        fill="#93B5C5"/>
      <path
        d="M17.9996 19.3C17.6996 19.3 17.3996 19.2 17.0996 18.9L7.09961 8.90002C6.59961 8.40002 6.59961 7.6001 7.09961 7.1001C7.59961 6.6001 8.39966 6.6001 8.89966 7.1001L18.8997 17.1001C19.3997 17.6001 19.3997 18.4 18.8997 18.9C18.6997 19.2 18.2996 19.3 17.9996 19.3Z"
        fill="#93B5C5"/>
      <path
        d="M7.99963 19.3C7.69963 19.3 7.39961 19.2 7.09961 18.9C6.59961 18.4 6.59961 17.6001 7.09961 17.1001L17.0996 7.1001C17.5996 6.6001 18.3997 6.6001 18.8997 7.1001C19.3997 7.6001 19.3997 8.40002 18.8997 8.90002L8.89966 18.9C8.69966 19.2 8.29963 19.3 7.99963 19.3Z"
        fill="#93B5C5"/>
    </svg>
  </button>
  <h2>
    Внесение гарантийного платежа
  </h2>
  <div class="guarantee-payment-modal__desc">
    <p>Продавцом или застройщиком реализуемого объекта недвижимости.</p>
    <p>Согласно правил пользования Системой, продавец объекта недвижимости, объявляя Аукцион на право долевого участия
      (инвестирования) в Объект Недвижимости, вносит гарантийный платеж в сумме 1% от заявленной стоимости Объекта.</p>
  </div>
  <p class="guarantee-payment-modal__sum">
    <b>9 800 000</b> (девять миллионов восемьсот тысяч) сом</p>
  <div class="guarantee-payment-modal__desc">
    <p>Для оплаты или выставления счета будут использоваться данные счета, указанные Вами в кабинете организации в
      качестве основного.</p>
  </div>
  <div class="guarantee-payment-modal__row">
    <a href="#" class="guarantee-payment-modal__link">оплатить онлайн</a>
    <p>Вы будете перенаправлены на платежную страницу Банка Название</p>
  </div>
  <div class="guarantee-payment-modal__row">
    <form action="">
      <button class="guarantee-payment-modal__btn" type="submit">получить счет на оплату</button>
    </form>
    <div class="guarantee-payment-modal__wrapper">
      <p>Система сгенерирует счет, который Вам нужно будет оплатить
        от лица Вашей компании в течение 3х (трех) рабочих дней.</p>
      <p>В случае, если Вы уже внесли гарантийный платеж оплатой по счету более 1 банковского дня назад, но информация
        об
        этом еще не отображается в Системе, Вы можете
        <a href="#">сообщить администратору</a>
        о возникшей проблеме.
      </p>
    </div>
  </div>
</div>
