<div class="modal object-sold-images-modal" id="object-sold-images">
  <button class="close-modal-btn" type="button" data-close-modal="true">
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13 26C5.8 26 0 20.2 0 13C0 5.8 5.8 0 13 0C20.2 0 26 5.8 26 13C26 20.2 20.2 26 13 26ZM13 1C6.4 1 1 6.4 1 13C1 19.6 6.4 25 13 25C19.6 25 25 19.6 25 13C25 6.4 19.6 1 13 1Z"
        fill="#93B5C5"/>
      <path
        d="M17.9996 19.3C17.6996 19.3 17.3996 19.2 17.0996 18.9L7.09961 8.90002C6.59961 8.40002 6.59961 7.6001 7.09961 7.1001C7.59961 6.6001 8.39966 6.6001 8.89966 7.1001L18.8997 17.1001C19.3997 17.6001 19.3997 18.4 18.8997 18.9C18.6997 19.2 18.2996 19.3 17.9996 19.3Z"
        fill="#93B5C5"/>
      <path
        d="M7.99963 19.3C7.69963 19.3 7.39961 19.2 7.09961 18.9C6.59961 18.4 6.59961 17.6001 7.09961 17.1001L17.0996 7.1001C17.5996 6.6001 18.3997 6.6001 18.8997 7.1001C19.3997 7.6001 19.3997 8.40002 18.8997 8.90002L8.89966 18.9C8.69966 19.2 8.29963 19.3 7.99963 19.3Z"
        fill="#93B5C5"/>
    </svg>
  </button>

  <h2>
    Изображения объекта
    <a href="#">219540-567-К</a>
    <span>(всего 12)</span>
  </h2>
  <div class="swiper-main-wrapper">
    <div class="swiper mySwiper swiper-sold-images">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/slide-sold-images.jpg" alt="slide">
        </div>
        <div class="swiper-slide">
          <img src="img/slide-sold-images.jpg" alt="slide">
        </div>
        <div class="swiper-slide">
          <img src="img/slide-sold-images.jpg" alt="slide">
        </div>
        <div class="swiper-slide">
          <img src="img/slide-sold-images.jpg" alt="slide">
        </div>
        <div class="swiper-slide">
          <img src="img/slide-sold-images.jpg" alt="slide">
        </div>
        <div class="swiper-slide">
          <img src="img/slide-sold-images.jpg" alt="slide">
        </div>
        <div class="swiper-slide">
          <img src="img/slide-sold-images.jpg" alt="slide">
        </div>
        <div class="swiper-slide">
          <img src="img/slide-sold-images.jpg" alt="slide">
        </div>
      </div>
    </div>
    <div class="swiper-sold-images-button-next">
      <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.89453 2.30005L11.8945 12.3L1.89453 22.3" stroke="#A3A3A3" stroke-width="3" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </div>
    <div class="swiper-sold-images-button-prev">
      <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 22.3L2 12.3L12 2.30005" stroke="#A3A3A3" stroke-width="3" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
</div>
