<div class="modal verification-modal" id="verification-modal">
  <h1>
    Отправка объекта на верификацию
  </h1>
  <p>
    Внимание! Данные созданного Вами объекта будут проверены нотариусом в
    специальном режиме.
  </p>
  <p>
    Вы уверены, что все данные, включая состав собственников, доверенности,
    отсутствие ограничений и обременений, а также основные данные объекта
    указаны правильно?
  </p>
  <p>
    Если нотариус отклонит верификацию, в базе данных появится отметка о том,
    что Вы подали на проверку объект с неверными данными.
  </p>

  <div class="verification-modal__btns">
    <button class="verification-modal__close-btn" type="button">Нет, отложить
      верификацию
    </button>
    <button class="verification-modal__submit-btn" type="submit">Да,
      верифицировать объект
    </button>
  </div>


</div>
