.add-developer-modal {

  @media (max-width: 768px) {
    width: 98%;
    height: 530px;
  }

  h1 {
    @include montserrat-bold;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $green-blue;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }

  }

  p {
    @include montserrat-medium;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 17px;

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }

    a {
      color: $green-blue;
    }

  }

    &__sign-btn {
      @include montserrat-medium;
      font-size: 14px;
      line-height: 17px;
      color: $green-blue;
      border: 1px solid $green-blue;
      border-radius: 3px;
      width: 82%;
      padding: 9px 5px;
      transition: all .3s;
      margin-top: 13px;
      &:hover {
        color: $white;
        background-color: $green-blue;
      }
    }

}
