.auth-modal {
  padding: 57px 85px 83px;
  width: 650px;
  border-radius: 24px;
  background-color: $green-blue;
  border: none;
  box-shadow: none;

  .main-menu__lang-switch {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .main-menu__lang-btn:first-child {
    margin-right: 20px;
  }

  h1 {
    @include montserrat-semibold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  .sign-in {

    text-align: center;
    color: #FFFFFF;

    p {
      @include montserrat-medium;
    }

    button {
      height: 40px;
      padding: 0 33px;
      @include montserrat-bold;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      background: #66ACCC;
      border-radius: 3px;
      transition: all .3s;

      &:hover {
        background-color: #FFFFFF;
        color: $green-blue;
      }
    }

    &[data-auth-style="auth-main"] {
      .auth-main {
        display: block;
      }
    }

    &[data-auth-style="auth-authorization"] {
      .auth-authorization {
        display: block;
      }
    }

    &[data-auth-style="auth-esia"] {
      .auth-esia {
        display: block;
      }
    }
  }

  .auth-main {
    display: none;

    button {
      width: 100%;
    }

    &__subtitle {
      margin-bottom: 30px;
      @include montserrat-semibold;
      font-size: 16px;
      line-height: 20px;
    }

    &__esia {
      button {
        margin-bottom: 30px;
      }

      p {
        margin-bottom: 30px;
      }
    }

    &__manual {
      button {
        margin-bottom: 30px;
      }
    }

    &__manual,
    &__login {
      padding-top: 30px;
      border-top: 1px solid #D2E7EF;

      p {
        margin-bottom: 30px;
      }
    }
  }

  .auth-authorization {
    display: none;

    .form {
      width: 100%;
      border-bottom: 1px solid #D2E7EF;

      > p {
        margin-bottom: 13px;
        line-height: 17px;
      }

      &__input-wrapper {
        position: relative;

        &::before {
          content: '';
          width: 15px;
          height: 17px;
          position: absolute;
          left: 13px;
          top: calc(50% + 11px);
          transform: translateY(-50%);
        }

        &:nth-of-type(1) {
          margin-bottom: 16px;

          &:before {
            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='17' viewBox='0 0 10 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.46152 0H1.53848C0.659365 0 0 0.659331 0 1.53845V15.0549C0 15.934 0.659365 16.5933 1.53848 16.5933H8.46152C9.34063 16.5933 10 15.934 10 15.0549V1.53845C10 0.659331 9.34063 0 8.46152 0ZM6.48352 1.0989L6.26372 0.989H3.84614L3.62641 1.0989H6.48352ZM8.9011 14.945C8.9011 15.1648 8.68134 15.2747 8.57145 15.2747H1.53848C1.3187 15.2747 1.20883 15.0549 1.20883 14.945V1.42857C1.20883 1.20879 1.42859 1.0989 1.53848 1.0989H2.63738C2.63738 1.0989 3.40663 1.86812 3.62641 1.86812H6.37365C6.59343 1.86812 7.36262 1.0989 7.36262 1.0989H8.46152C8.6813 1.0989 8.79117 1.31868 8.79117 1.42857V14.945H8.9011Z' fill='%23BFBDC7'/%3e%3cpath d='M5.0544 14.5054C5.47923 14.5054 5.82364 14.161 5.82364 13.7361C5.82364 13.3113 5.47923 12.9669 5.0544 12.9669C4.62956 12.9669 4.28516 13.3113 4.28516 13.7361C4.28516 14.161 4.62956 14.5054 5.0544 14.5054Z' fill='%23BFBDC7'/%3e%3c/svg%3e ");
          }
        }

        &:nth-of-type(2) {
          margin-bottom: 20px;

          &:before {
            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.50003 0.10564C9.50707 0.10564 11.4085 0.10564 13.4155 0.10564C14.4718 0.10564 15 0.845076 15 1.69015C15 4.11972 15 6.65493 15 9.08451C15 9.82394 14.5775 10.3521 13.8381 10.5634C13.7324 10.5634 13.5211 10.5634 13.4155 10.5634C9.50705 10.5634 5.49295 10.5634 1.58451 10.5634C0.633802 10.5634 0 9.92957 0 8.97887C0 6.54929 0 4.01408 0 1.58451C0 0.633802 0.633802 0 1.58451 0C3.59155 0.105634 5.49299 0.10564 7.50003 0.10564ZM13.7324 1.90141C13.6267 2.00704 13.5211 2.11267 13.4155 2.11267C11.6197 3.59155 9.7183 5.07042 7.92253 6.44366C7.60563 6.76056 7.28876 6.76056 6.97186 6.44366C5.49299 5.28169 4.01413 4.01409 2.42963 2.85212C2.00709 2.53522 1.58451 2.21832 1.05634 1.79579C1.05634 1.90142 1.05634 2.00704 1.05634 2.11267C1.05634 4.33098 1.05634 6.65493 1.05634 8.87324C1.05634 9.29578 1.05636 9.29577 1.4789 9.29577C5.38735 9.29577 9.19016 9.29577 13.0986 9.29577C13.5211 9.29577 13.5212 9.29578 13.5212 8.87324C13.5212 6.65493 13.5212 4.33098 13.5212 2.11267C13.7324 2.11267 13.7324 2.11268 13.7324 1.90141ZM2.32395 1.26762C2.42959 1.37325 2.42963 1.37324 2.42963 1.37324C4.01413 2.64085 5.70425 3.90846 7.28875 5.17606C7.39439 5.2817 7.50001 5.2817 7.60564 5.17606C9.19015 3.90846 10.7747 2.64085 12.3592 1.37324L12.4648 1.26762C9.19018 1.26762 5.80987 1.26762 2.32395 1.26762Z' fill='%23BFBDC7'/%3e%3c/svg%3e ");
          }
        }

        &:nth-of-type(3) {
          margin-bottom: 30px;

          &:before {
            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='17' viewBox='0 0 13 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.92072 12.023C5.92072 11.9255 5.91586 11.828 5.92072 11.7305C5.93044 11.4625 5.90614 11.2432 5.69237 11.0141C5.29884 10.5999 5.39601 9.93708 5.83812 9.56669C6.27053 9.20118 6.92642 9.25479 7.29566 9.68366C7.66976 10.1125 7.64061 10.7607 7.21793 11.1457C7.12561 11.2334 7.08675 11.3114 7.08675 11.4381C7.09646 11.8378 7.09161 12.2423 7.09161 12.6419C7.09161 12.9977 6.84382 13.2608 6.51831 13.2706C6.18793 13.2755 5.93044 13.0074 5.92558 12.6419C5.92072 12.4372 5.92072 12.2276 5.92072 12.023Z' fill='%23BFBDC7'/%3e%3cpath d='M12.9964 7.50526C12.9964 7.34931 12.9964 7.18848 12.9672 7.03253C12.7777 5.9701 11.9858 5.21957 10.9412 5.08798V4.42031C10.9412 1.98353 8.96384 0 6.53462 0H6.46174C4.03251 0 2.05512 1.98353 2.05512 4.42031V5.08311C2.00168 5.08798 1.9531 5.09773 1.90451 5.10748C0.767635 5.32679 0.0097169 6.26738 0.00485845 7.45166C0 9.50829 0 11.5698 0 13.6264C0 13.7726 0.00485845 13.9189 0.0291507 14.0651C0.242923 15.2396 1.18546 16.0194 2.38064 16.0194C5.10623 16.0194 7.83182 16.0194 10.5623 16.0194C11.9955 16.0194 12.9964 15.0251 12.9964 13.5875C13.0012 11.5601 13.0012 9.53266 12.9964 7.50526ZM3.26974 4.42031C3.26974 2.65608 4.70298 1.21839 6.46174 1.21839H6.53947C8.29823 1.21839 9.73148 2.65608 9.73148 4.42031V4.83456H3.26974V4.42031V4.42031ZM11.8303 13.6069C11.8303 14.3672 11.3396 14.8497 10.5866 14.8546C9.22134 14.8546 7.85126 14.8546 6.48603 14.8546C5.13052 14.8546 3.77502 14.8546 2.42437 14.8546C1.64701 14.8546 1.16603 14.3721 1.16603 13.5875C1.16603 11.5601 1.16603 9.52779 1.16603 7.50039C1.16603 6.72062 1.65187 6.23327 2.42923 6.23327C5.1451 6.23327 7.86097 6.23327 10.572 6.23327C11.3396 6.23327 11.8303 6.71575 11.8303 7.4809C11.8352 9.52291 11.8352 11.5649 11.8303 13.6069Z' fill='%23BFBDC7'/%3e%3c/svg%3e ");
          }
        }

        p {
          margin-bottom: 3px;
          text-align: left;
        }

        input {
          width: 100%;
          height: 40px;
          padding: 10px 10px 10px 32px;
          background: #FFFFFF;
          color: $dark-light;
          border: 0.5px solid #337390;
          border-radius: 3px;

          &::placeholder {
            color: #BFBDC7;
          }
        }
      }

      button {
        margin-bottom: 30px;
      }
    }


    &__esia {
      padding-top: 30px;
      border-bottom: 1px solid #D2E7EF;

      button {
        margin-bottom: 30px;
      }

      p {
        margin-bottom: 30px;
      }
    }

    &__manual {
      padding-top: 30px;

      p {
        margin-bottom: 30px;
      }
    }
  }

  .auth-esia {
    display: none;

    .form {
      width: 100%;
      border-bottom: 1px solid #D2E7EF;

      > p {
        line-height: 17px;
        text-align: left;

        &:first-of-type {
          margin-bottom: 13px;
        }

        &:last-of-type {
          margin-bottom: 35px;
        }
      }

      &__input-wrapper {
        margin-bottom: 20px;
        position: relative;

        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.50003 0.10564C9.50707 0.10564 11.4085 0.10564 13.4155 0.10564C14.4718 0.10564 15 0.845076 15 1.69015C15 4.11972 15 6.65493 15 9.08451C15 9.82394 14.5775 10.3521 13.8381 10.5634C13.7324 10.5634 13.5211 10.5634 13.4155 10.5634C9.50705 10.5634 5.49295 10.5634 1.58451 10.5634C0.633802 10.5634 0 9.92957 0 8.97887C0 6.54929 0 4.01408 0 1.58451C0 0.633802 0.633802 0 1.58451 0C3.59155 0.105634 5.49299 0.10564 7.50003 0.10564ZM13.7324 1.90141C13.6267 2.00704 13.5211 2.11267 13.4155 2.11267C11.6197 3.59155 9.7183 5.07042 7.92253 6.44366C7.60563 6.76056 7.28876 6.76056 6.97186 6.44366C5.49299 5.28169 4.01413 4.01409 2.42963 2.85212C2.00709 2.53522 1.58451 2.21832 1.05634 1.79579C1.05634 1.90142 1.05634 2.00704 1.05634 2.11267C1.05634 4.33098 1.05634 6.65493 1.05634 8.87324C1.05634 9.29578 1.05636 9.29577 1.4789 9.29577C5.38735 9.29577 9.19016 9.29577 13.0986 9.29577C13.5211 9.29577 13.5212 9.29578 13.5212 8.87324C13.5212 6.65493 13.5212 4.33098 13.5212 2.11267C13.7324 2.11267 13.7324 2.11268 13.7324 1.90141ZM2.32395 1.26762C2.42959 1.37325 2.42963 1.37324 2.42963 1.37324C4.01413 2.64085 5.70425 3.90846 7.28875 5.17606C7.39439 5.2817 7.50001 5.2817 7.60564 5.17606C9.19015 3.90846 10.7747 2.64085 12.3592 1.37324L12.4648 1.26762C9.19018 1.26762 5.80987 1.26762 2.32395 1.26762Z' fill='%23BFBDC7'/%3e%3c/svg%3e ");
          width: 15px;
          height: 17px;
          position: absolute;
          left: 13px;
          top: calc(50% + 11px);
          transform: translateY(-50%);
        }

        p {
          margin-bottom: 3px;
          text-align: left;
        }

        input {
          width: 100%;
          height: 40px;
          padding: 10px 10px 10px 32px;
          background: #FFFFFF;
          color: $dark-light;
          border: 0.5px solid #337390;
          border-radius: 3px;

          &::placeholder {
            color: #BFBDC7;
          }
        }
      }

      button {
        margin-bottom: 30px;
      }
    }
  }

  @media (max-width: 700px) {
    width: 98%;
    padding: 57px 20px 83px;
  }
}
