.object-sold-images-modal {
  width: 725px;
  padding: 32px 50px 35px;

  @media (max-width: 768px) {
    width: 98%;
    padding-top: 48px;
  }

  h2 {
    @include montserrat-semibold;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;

    span {
      font-weight: 400;
    }

    a {
      display: inline-block;
      color: $green-blue;
      margin: 0 5px;
    }

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  .swiper-main-wrapper {
    margin: 0 -30px;
    padding: 0 30px;
    position: relative;

    .swiper-sold-images-button-next,
    .swiper-sold-images-button-prev {
      position: absolute;
      width: 10px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      svg {
        width: 10px;
        height: 20px;
      }
    }

    .swiper-sold-images-button-next {
      right: 0;
    }

    .swiper-sold-images-button-prev {
      left: 0;
    }
  }

  .swiper-sold-images {
    .swiper-slide {
      box-sizing: border-box;
      border-radius: 5px;
      overflow: hidden;
      display: flex;

      img {
        margin: auto;
        border-radius: 5px;
        border: 2px solid #8FC3D8;
      }
    }

  }


}
