<section class="cabinet-org-info @cabinet-state">
  <div class="cabinet-org-info__top">
    <div class="cabinet-org-info__logo">
      <img src="./img/cab-org-logo.png" alt="Логотип организации">
    </div>

    <div class="cabinet-org-info__data">
      <h2>ООО «А-валид Эстейт»</h2>
      <p>ИНН: 999 999 999 999</p>
    </div>
  </div>

  <nav class="cabinet-org-info__menu">
    <ul>
      <li class="cabinet-org-info__menu-item @active-profile">
        <a href="cabinet-org-profile.html">профиль</a>
      </li>
      <li class="cabinet-org-info__menu-item @active-documents">
        <a href="cabinet-org-documents.html">документы</a>
      </li>
      <li class="cabinet-org-info__menu-item @active-employees">
        <a href="cabinet-org-employees.html">сотрудники</a>
      </li>
      <li class="cabinet-org-info__menu-item">
        <a href="#">сервисы</a>
      </li>
      <li class="cabinet-org-info__menu-item">
        <a href="#">объекты</a>
      </li>
      <li class="cabinet-org-info__menu-item">
        <a href="#">аукционы</a>
      </li>
      <li class="cabinet-org-info__menu-item">
        <a href="#">интеграция</a>
      </li>
    </ul>
  </nav>
</section>
