<div class="main-menu">
  <div class="container">
    <nav class="main-menu__nav">
      <ul class="main-menu__nav-list">
        <li>
          <a href="#">Главная страница</a>
        </li>
        <li>
          <a href="#">Объекты недвижимости</a>
        </li>
        <li>
          <a href="#">Аукционы</a>
        </li>
        <li>
          <a href="#">Организации</a>
        </li>
        <li>
          <a href="#">Информация и документы</a>
        </li>
      </ul>
    </nav>
    <div class="main-menu__personal">
      <a href="#" class="main-menu__personal-avatar">
        <img src="img/avatar-sm.png" alt="аватар профиля">
      </a>
      <div class="main-menu__lang-switch">
        <button class="main-menu__lang-btn" type="button">
          <img src="img/uzb-lang.png" alt="Переключить на узбекский">
        </button>
        <button class="main-menu__lang-btn main-menu__lang-btn_active" type="button">
          <img src="img/ru-lang.png" alt="Переключить на русский">
        </button>
      </div>
    </div>
  </div>
</div>
