<div class="main-menu">
  <div class="container">
    <nav class="main-menu__nav">
      <ul class="main-menu__nav-list">
        <li>
          <a href="#">Главная страница</a>
        </li>
        <li class="@active-new-object">
          <a href="new-object.html">Объекты недвижимости</a>
        </li>
        <li>
          <a href="#">Аукционы</a>
        </li>
        <li>
          <a href="#">Организации</a>
        </li>
        <li>
          <a href="#">Информация и документы</a>
        </li>
      </ul>
    </nav>
    <div class="main-menu__personal">
      <div class="main-menu__personal-avatar">
        <div class="main-menu__personal-menu">
          <h4>
            Константинов Константин Константинович
          </h4>
          <ul>
            <li class="@active-profile">
              <a href="index.html">Мой профиль</a>
            </li>
            <li>
              <a href="#">Мои документы</a>
            </li>
            <li class="@active-services">
              <a href="services.html">Мои услуги</a>
            </li>
            <li>
              <a href="#">Мои организации</a>
            </li>
            <li>
              <a href="#">Мои аукционы</a>
            </li>
            <li class="@active-objects">
              <a href="objects.html">Мои объекты</a>
            </li>
          </ul>
        </div>
        <a class="main-menu__personal-avatar-link" href="#">
          <img src="img/avatar-sm.png" alt="аватар профиля">
        </a>
      </div>
      <div class="main-menu__lang-switch">
        <button class="main-menu__lang-btn" type="button" title="Oʻzbek">
          <img src="img/uzb-lang.png" alt="Переключить на узбекский">
        </button>
        <button class="main-menu__lang-btn main-menu__lang-btn_active"
                type="button" title="Русский">
          <img src="img/ru-lang.png" alt="Переключить на русский">
        </button>
      </div>
    </div>
  </div>
</div>
