html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 340px;
  overflow-x: hidden;
  @include montserrat-regular;
  font-size: 14px;
  line-height: 20px;
  background-color: $main-bg;
  color: $dark-light;
  position: relative;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

.hidden {
  display: none !important;
}

.dz-details,
.dz-progress,
.dz-error-message,
.dz-success-mark,
.dz-error-mark {
  display: none !important;
}

.dz-message {
  button {
    padding: 0;
  }
}

.dz-remove {
  line-height: 0;
  font-size: 0;
}

.dz-preview:not(.dz-preview.dz-processing) {
  display: none;
}

.air-datepicker-global-container {
  z-index: 9999;
}



.swiper-horizontal {
  overflow: hidden;
  position: relative;

  button {
    path {
      transition: all .3s;
    }

    &:hover path {
      stroke: $green-blue;
    }
  }
}

.input_disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn_disabled {
  pointer-events: none;
  opacity: 0.5;
}

.site-container {
  position: relative;
  overflow: hidden;
}

.line {
  position: absolute;
  height: 1px;
  background-color: #D2E7EF;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}


.subtitle {
  @include montserrat-semibold;
  font-size: 25px;
  line-height: 30px;
  color: $dark;
}

.subtitle-sm {
  @include montserrat-semibold;
  line-height: 17px;
}

.section-image {
  min-width: 80px;
  max-width: 81px;
  height: 80px;
  margin-right: 43px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main-button {
  @include montserrat-bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 11px 23px;
  transition: all .3s;
  color: $green-blue;
  border: 1px solid $green-blue;
  display: inline-block;
  height: 40px;
  min-width: 240px;

  &:hover {
    color: $white;
    background-color: $green-blue;
  }
}

.modal {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  left: 50%;
  top: 50%;
  width: 602px;
  transform: translate(-50%, -50%);
  background-color: $white;
  border: 1px solid #93B5C5;
  border-radius: 5px;
  padding: 44px 52px 35px 36px;
  box-shadow: 0 8px 15px rgba(51, 115, 144, 0.3);
  transition: all .2s;
  opacity: 0;
  visibility: hidden;

  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: -1;

  &._active {
    z-index: 998;
    visibility: visible;
  }
}

.close-modal-btn {
  position: absolute;
  right: 16px;
  top: 14px;

  svg path {
    transition: all .3s;
  }

  &:hover svg path {
    fill: $green-blue;
  }
}
